            <div class="u__border-padding">
                  <ul class="color-proof">
                        <li class="u__border u__border-black u__background-black"></li>
                        <li class="u__border u__border-black u__background-blue"></li>
                        <li class="u__border u__border-black u__background-orange"></li>
                        <li class="u__border u__border-black u__background-brown"></li>
                        <li class="u__border u__border-black u__background-pink"></li>
                        <li class="u__border u__border-black u__background-yellow"></li>
                        <li class="u__border u__border-black u__background-green"></li>
                  </ul>
            </div>
      </div><!-- end flex-grow big -->
      <aside class="margin__aside">
            <div class="margin__aside-wrapper">
                  <span class="h2 u__rotate-90">Cooked just right</span>
                  <span class="h2 u__rotate-90">IBS</span>
            </div>
            <section class="hidden-content">
                  <div class="sp__1"></div>
                  <h2 class="h2">Ingredients</h2>
                  <ul>
                        <li>1/3 cup soy sauce</li>
                        <li>1/2 cup olive oil</li>
                        <li>1/3 cup fresh lemon juice</li>
                        <li>1/4 cup Worcestershire sauce</li>
                        <li>3 tablespoons dried basil</li>
                        <li>1 1/2 tablespoons dried parsley flakes</li>
                        <li>1 teaspoon ground white pepper</li>
                        <li>1/4 teaspoon hot pepper sauce <small>(optional)</small></li>
                        <li>1 teaspoon dried minced garlic <small>(optional)</small></li>
                  </ul>
                  <h6 class="h6">Directions</h6>
                  <ol>
                        <li>Place the soy sauce, olive oil, lemon juice, Worcestershire sauce, garlic powder, basil, parsley, and pepper in a blender. Add hot pepper sauce and garlic, if desired. Blend on high speed for 30 seconds until thoroughly mixed.</li>
                        <li>Pour marinade over desired type of meat. Cover, and refrigerate for up to 8 hours. Cook meat as desired.</li>
                  </ol>
                  <h6 class="h6">Footnotes</h6>
                  <p></em>Tip:</em> Aluminum foil can be used to keep food moist, cook it evenly, and make clean-up easier.</p>
            </section>
      </aside>
</div><!-- end max container -->
<!--
<footer class="site-footer tan">

  <div class="container">
    <div class="row">
      <div class="column one-third">
        <h6 class="h6">Resource</h6>
        <ul class="contact-list no-list">
          <li><a href="http://songclubsampler.bandcamp.com/">Song Club Sampler</a></li>
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">Contact us</a></li>
          {% endif %}
            <li><a href="http://eepurl.com/dh59S1">Join our Mailing List</a></li>
            <li>
              <ul class="social-links inline-list left-align">
                <li><a class="fa fa-instagram no-underline" href="http://www.instagram.com/songclubrecords"></a></li>
                <li><a class="fa fa-facebook no-underline" href="http://www.facebook.com/songclubrecords"></a></li>
                <li><a class="fa fa-twitter no-underline" href="http://www.twitter.com/songclubrecords"></a></li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="column two-thirds">
        <h6 class="h6">Help sustain us</h6>
        <p>Song Club Records can't survive without your help. Help us make meaningful and beautiful music by supporting us in any way you can.</p>
       <script src="https://gumroad.com/js/gumroad.js"></script>
        <p><a class="button button-join" href="https://gum.co/jEzPn?wanted=true" target="_blank">Become a Member</a></p>
        <p class="h6">(P.S. We're also on <a href="https://www.patreon.com/songclubrecords">Patreon</a>)</p>
      </div>
    </div>

  </div>

</footer> -->
