<div class="max-container u__flex u__flex-break-md u__flex-break-sm">
      <div id="margin__aside-left" class="margin__aside">
            <div class="margin__aside-wrapper u__hidden-sm u__hidden-md">
                  <span class="h2 u__rotate-270">About Medium Rare Books</span>
                  <span class="h2 u__rotate-270">IBS</span>
            </div>
            <section class="hidden-content">
                  <div class="sp__1"></div>
                  <h2 class="h2">About the Intercom Brand Studio Library</h2>
                  <div class="sp__1 sp__1-md sp__1-sm"></div>
                  <p>Our library began in early 2018 with the acquisition of a selection of rare books from <a href="https://www.grainedit.com/">Dave Cuzner</a>, Founder and Senior Editor at Grain Edit.</p>
                  <h3 class="h3">Why do we have our own library?</h3>
                  <p>We’re constantly bombarded by visual “inspiration”. It is overwhelming and difficult to critically assess what elements should and should not influence our work as designers. That inspired us to surface inspiration material that doesn’t exist anywhere online. These books were published decades ago and still strongly influence design today. We have access to that material.</p>
                  <p>The act of picking a book and absorbing it helps us slow down and form a thoughtful perspective on where design has been and how it can shape our current and future work. It acts as a counterbalance to so much of the trend-driven work that surrounds us.</p>
            </section>
            <div class="margin__aside-wrapper u__hidden-lg t__center u__border-padding u__border-bottom">
                  About
            </div>
      </div>
      <div class="center-content-chunk u__flex-grow-1">
            <header class="site-header" role="banner">
                {% assign default_paths = site.pages | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}
                <div class="u__flex">
                      <a class=" logo" href="{{ "/" | relative_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="94.351" height="82.579" viewBox="0 0 94.351 82.579">
                                  <foreignobject class="logo-text t__center" x="-1" y="34" width="100" height="100">
                                        <a class="t__underline" href="{{ "/" | relative_url }}">Medium <br/>Rare Books</a>
                                  </foreignobject>
                                  <g class="logo-bottom">
                                        <ellipse class="svg__stroke-black svg__stroke-weight1 svg__fill-orange" cx="47.176" cy="78.461" rx="46.715" ry="3.658" />
                                  </g>
                                    <g class="logo-top">
                                          <circle cx="48.164" cy="4.242" r="3.798" class="svg__fill-brown svg__stroke-black svg__stroke-weight1"/>
                                          <path class="svg__stroke-black svg__stroke-weight1 svg__fill-orange" d="M48.164,7.357c-20.811,0-37.682,10.717-37.682,23.937H85.846C85.846,18.074,68.975,7.357,48.164,7.357Z" />
                                    </g>

                           </svg>
                      </a>
                      <input class="input__field input__search u__flex-grow-1 u__border u__border-black u__border-padding" type="text" id="search-input" placeholder="Search our catalog...">
                </div>
                <ul class="" id="results-container"></ul>
                {% if page_paths %}
                    <div class="trigger">
                      {% assign current = page.url | downcase | split: '/' %}
                        <!-- <ul>
                          <li><a id="about" href="{{ site.baseurl }}/about/" {% if current[1] == 'about' %}class='active'{% endif %}>About</a></li>
                          <li><a href="{{ site.baseurl }}/news/" {% if current[1] == 'news' %}class='active'{% endif %}>News</a></li>
                          <li><a href="{{ site.baseurl }}/artists/" {% if current[1] == 'artists' %}class='active'{% endif %}>Artists</a></li>
                        </ul> -->
                    </div>
                  </nav>
                {% endif %}
            </header>
