---
layout: default
---
<section class="section u__border-padding">
    <article class="post book" data-isbn="{{ page.ISBN }}" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
      </header>
      <div class="post-content" itemprop="articleBody">
            <div class="u__flex u__flex-break-sm">
                  <div>
                        <img src="http://covers.openlibrary.org/b/isbn/{{ page.ISBN }}-L.jpg" alt="" class="thumbnail isbn-{{ page.ISBN }}" />
                  </div>
                  <div>
                        <h1 class="h1 post-title" itemprop="name headline">{{ page.title | escape }}</h1>
                        <span class="h6 author {{ page.author | remove: ' ' }}">{{ page.author }}</span>
                        <span class="h6 published-date {{ page.published-date }}">{{ page.published-date }}</span>
                        <span class="h6 isbn {{ page.published-date }}">{{ page.ISBN }}</span>
                        <span class="h6 publisher {{ page.published-date }}">{{ page.publisher }}</span>
                        <p class="published-description {{ page.description }}">{{ page.description }}</p>
                  </div>
            </div>
      </div>
      <script>
      var isbn = $('.book').data('isbn');
      if (isbn == "unknown") {
           $('.thumbnail.isbn-unknown').attr('src', "../../images/placeholder.jpg");
      } else {
            console.log(isbn);
            $.ajax({
              dataType: 'json',
              url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn,
              success: handleResponse
            });


            function handleResponse( response ) {
              console.log(response);
              $.each( response.items, function( i, item ) {

                var title    = item.volumeInfo.title,
                    author   = item.volumeInfo.authors[0],
                    thumb    = item.volumeInfo.imageLinks.thumbnail;

                $('.author.unknown').text( author );
                $('.thumbnail.isbn-unknown').attr('src', thumb);
              });
            }
      }
      </script>
    </article>
</section>
