---
layout: default
---
<section class="section u__border-padding">
    <article class="post book {{ page.category | remove: ' ' }}" data-isbn="{{ page.ISBN }}" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
            <div class="PageNavigation">
                  {% if page.next_in_category != nil %}
               	<a href="{{page.next_in_category.url}}" class="next-link">Older Post</a>
               {% endif %}
               {% if page.previous_in_category != nil %}
               	<a href="{{page.previous_in_category.url}}" class="previous-link">Newer Post</a>
               {% endif %}
            </div>
      </header>
      <div class="post-content" itemprop="articleBody">
            <div class="u__flex u__flex-break-sm">
                  <div class="thumbnail">
                        <img src="http://covers.openlibrary.org/b/isbn/{{ page.ISBN }}-L.jpg" alt="" class="isbn-{{ page.ISBN }}" />
                  </div>
                  <div>
                        <h1 class="h1 post-title" itemprop="name headline">{{ page.title | escape }}</h1>
                        <div class="sp__1 sp__1-md sp__1-sm"></div>
                        {% if page.author != "unknown" %} <span class="book-detail h6 author {{ page.author | remove: ' ' }}"><span class="icon">✍ </span>{{ page.author }}</span>{% endif %}
                        {% if page.published-date != "unknown" %} <span class="book-detail h6 published-date"><span class="icon">⌛ </span>{{ page.published-date }}</span>{% endif %}
                        {% if page.ISBN != "unknown" %} <span class="book-detail h6 isbn {{ page.published-isbn }}"><span class="icon">🗀 </span>{{ page.ISBN }}</span>{% endif %}
                        {% if page.publisher != "unknown" %} <span class="book-detail h6 publisher {{ page.publisher | remove: ' '}}"><span class="icon">📖 </span>{{ page.publisher }}</span>{% endif %}
                        {% if page.category != "unknown" %} <a href="{{ site.baseurl }}/category/{{ page.category }}/" class="book-detail h6 category u__color-{{ page.category | remove: ' '}}"><span class="icon">● </span>{{ page.category }}</a>{% endif %}
                        {% if page.description != "unknown" %} <div class="sp__1 sp__1-md sp__1-sm"></div><p class="published-description">{{ page.description }}</p>{% endif %}

                  </div>
            </div>
      </div>
      <footer class="post-footer">
      </footer>
      <script>
      var isbn = $('.book').data('isbn');
      if (isbn == "unknown") {
           $('.thumbnail.isbn-unknown').attr('src', "../../images/placeholder.jpg");
      } else {
            console.log(isbn);
            $.ajax({
              dataType: 'json',
              url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn,
              success: handleResponse
            });


            function handleResponse( response ) {
              console.log(response);
              $.each( response.items, function( i, item ) {

                var title    = item.volumeInfo.title,
                    author   = item.volumeInfo.authors[0],
                    thumb    = item.volumeInfo.imageLinks.thumbnail;

                $('.author.unknown').text( author );
                $('.thumbnail.isbn-unknown').attr('src', thumb);
              });
            }
      }
      </script>
    </article>
</section>
<h2 class="h2 u__border-padding">You May Also Enjoy</h2>
<ul class="list__border">
{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

  {% for book in site.data.books %}

   {% assign sameTagCount = 0 %}
   {% assign commonTags = '' %}

   {% for tag in book.tags %}
      {% if book.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
   {% endfor %}
   {% if sameTagCount >= minCommonTags %}
      {% if book.title != page.title %}
            <li>
                  <a class="u__border-padding {{book.category | remove: " " }}" href="{{ site.baseurl }}/books{{ book.title | datapage_url: dir}}">
                        <span class="book-title">{{ book.title }}</span>
                        <span class="book-details">
  				    {% if book.author != "unknown" %}
  				    <span class="book-detail"><span class="icon">✍ </span>{{book.author}}</span>
  				    {% endif %}
  				    {% if book.published-date != "unknown" %}
  				    <span class="book-detail"><span class="icon">⌛ </span>{{book.published-date}}</span>
  				    {% endif %}
  				    {% if book.publisher != "unknown" %}
  				    <span class="book-detail"><span class="icon">🗀 </span>{{book.publisher}}</span>
  				    {% endif %}
  				    {% if book.ISBN != "unknown" %}
  				    <span class="book-detail"><span class="icon">📖 </span>{{book.ISBN}}</span>
  				    {% endif %}
  				    {% if book.category != "unknown" %}
  				    <span class="book-detail">{{book.category}}</span>
  				    {% endif %}
  				    {% if book.description != "unknown" %}
  				    <span class="book-detail">{{book.description}}</span></a>
  				    {% endif %}
  			    </span>
                  </a>
            </li>
         {% endif %}
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
  {% endif %}
{% endfor %}
</ul>
